.hacked-btn {
  .wallet-adapter-button-trigger {
    background: transparent !important;
    border: none !important;
    transition: all 0.3s ease-in-out;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding: none !important;
  }
  .wallet-adapter-button:hover {
    background-color: transparent !important;
  }
  .wallet-adapter-button {
    height: unset !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding: none !important;
    border-radius: 12px !important;
  }
  .wallet-adapter-button-start-icon {
    display: none;
  }
}
